.container01 {
    display: flex;
    justify-content: center;
    margin-left: 700px;
    margin-top: 100px;
    width: 250px;
    height: 250px;
}

.back {
    background-color: rgb(255, 255, 93);
}

.img01 {
    border-radius: 50%;
    height: 100%;
    width: 300px;
}

.text {
    margin-left: 69px;
    margin-top: 90px;
    font-size: 15px;
    width: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
}

.h2 {
    display: inline;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container02 {
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
}

.monkey01 {
    display: flex;
    margin-left: 200px;
    height: 300px;
    background-color: rgb(172, 172, 172);
    border-radius: 25%;
}

.monkey02 {
    display: flex;
    margin-left: 140px;
    height: 300px;
    background-color: rgb(172, 172, 172);
    border-radius: 25%;
}

.monkey03 {
    display: flex;
    margin-left: 140px;
    height: 300px;
    background-color: rgb(172, 172, 172);
    border-radius: 25%;
}

.icons {
    width: 70px;
    height: 70px;
    display: flex;
    margin-left: 150px;
    margin-right: 140px;
    margin-top: 40px;
}

@media screen and (max-width :431px) {
    .text {
        display: none;
        text-align: center;
        font-size: 15px;
        align-items: center;
        width: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 50px;
    }
    .container02 {
        width: 300px;
        height: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .monkey01 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 200px;
        height: 300px;
        background-color: rgb(172, 172, 172);
        border-radius: 25%;
    }
}